
/* New Heading CSS */ 

h1, h2, h3, h4, h5, h6 {
    font-family: "erbaum", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

/* new button CSS */ 
.button {
  font-family: erbaum, sans-serif;
  text-transform: var(--button-text-case-primary);
  border-radius: var(--style-border-radius-buttons-primary);
  font-weight: 500;
}

/* mobile button padding */ 
.button {
padding-left: 24px; 
  padding-right: 24px; 
  height: 44px; 
}

/* Hide Mobile Banner on Desktop */
 @media (min-width: 480px) {
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    display: none; 

}
 }
/* Mobile homepage height */
  @media (max-width: 480px) {
/* Hide Desktop Banner on mobile */ 
    div#shopify-section-template--20919893328118__slideshow_VMx8dk {
        display: none; 
    }
    
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    height: 80dvh; 
    
}

.slideshow-slides, div.slideshow-section.spacing-style.section.section--full-width.color-scheme-2.disable-section-top-offset, slideshow-component.slideshow--content-on-media, .slideshow-container {
    height: 100% !important; 

}
slideshow-slides, slideshow-container {
    height: 100% !important;
}


/* Collection Card Mobile Settings. */ 
div.collection-card__content.layout-panel-flex--column {
    p {
        font-family: erbaum, sans-serif ;
        font-size: 18px; 
    }
}


/* Mobile Homepage Settings Padding */ 
div.spacing-style.slide__content.color-scheme-2.background-transparent {

div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
     
      }

}





  }

div.collection-card__content.layout-panel-flex--column {
    p {
        color: white; 
        text-transform: uppercase; 
        font-family: erbaum, sans-serif ;
     
    }
}

div.spacing-style.slide__content.color-scheme-2.background-transparent {
    display: inline;

div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
      
      }

}

a.card-product-title {
    p {
display: none;
    font-family: erbaum, sans-serif ;
    }
}