
/* New Heading CSS */ 

h1, h2, h3, h4, h5, h6 {
    font-family: "erbaum", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

/* new button CSS */ 
.button {
  font-family: erbaum, sans-serif;
  text-transform: var(--button-text-case-primary);
  border-radius: var(--style-border-radius-buttons-primary);
  font-weight: 500;
}

/* mobile button padding */ 
.button {
padding-left: 24px; 
  padding-right: 24px; 
  height: 44px; 
}

/* Hide Mobile Banner on Desktop */
 @media (min-width: 480px) {
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    display: none; 

}
 }
/* Mobile homepage height */
  @media (max-width: 480px) {

 /* Mobile Header Placement */ 

 a.size-style.spacing-style.header-logo {
grid-area: leftA;
 }




/* Hide Desktop Banner on mobile */ 
    div#shopify-section-template--20919893328118__slideshow_VMx8dk {
        display: none; 
    }
    
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    height: 85svh !important; 
    


.slideshow-slides, div.slideshow-section.spacing-style.section.section--full-width.color-scheme-2.disable-section-top-offset, slideshow-component.slideshow--content-on-media, .slideshow-container {
    height: 85svh !important; 

}
slideshow-slides, slideshow-container {
    height: 85svh !important;
}
}

/* Collection Card Mobile Settings. */ 
div.collection-card__content.layout-panel-flex--column {
    p {
        font-family: erbaum, sans-serif ;
        font-size: 18px; 
    }
}


/* Mobile Homepage Settings Padding */ 
div.spacing-style.slide__content.color-scheme-2.background-transparent {

div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
     
      }

}





  }

div.collection-card__content.layout-panel-flex--column {
    p {
        color: white; 
        text-transform: uppercase; 
        font-family: erbaum, sans-serif ;
     
    }
}

div.spacing-style.slide__content.color-scheme-2.background-transparent {
    display: inline;

div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
      
      }

}

div.card-product-title {
    font-family: erbaum, sans-serif !important;
    p {
        font-family: erbaum, sans-serif !important;
        
    }
}

span#color-swatch-label{
    font-size: 12px; 
    padding-left: 2px;
}


    li.variant-option__swatch {
outline: 1px solid #999;
  outline-offset: 2px;  
    }

div.slide__image-container.slide__image-container--rounded {
    aspect-ratio: 16 / 9;
}

/* slideshow performance not needed 
  slideshow-component slideshow-slide:not([aria-hidden='false']) {
    content-visibility: hidden;
  }
  */

 div.email-signup__input-group.email-signup__input-group--arrow.color-scheme-2 {
    gap: 0px; 

 }

 input#EmailInput-ATzhSaEhoaWtiZDZwe__email_signup_RxMJTQ {
    font-family: Ibm Plex Mono;
 }

 summary.menu__heading.menu__heading--empty.h5 {
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
 }

 /* Star Fill Color */ 
 svg.stars.filled-star {
    fill: #C2A970 !important; 
 }
 p.rating-count.paragraph {
    font-family: Ibm Plex Mono;
 }

 .account-button__icon {
    width: 18px; 
 }


