
/* New Heading CSS */ 

h1, h2, h3, h4, h5, h6 {
    font-family: "erbaum", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

/* new button CSS */ 
.button {
  font-family: erbaum, sans-serif;
  text-transform: var(--button-text-case-primary);
  border-radius: var(--style-border-radius-buttons-primary);
  font-weight: 500;
}

/* mobile button padding */ 
.button {
padding-left: 24px; 
  padding-right: 24px; 
  height: 44px; 
}

/* Mobile homepage height */
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    height: 80dvh; 
}
.slideshow-slides, div.slideshow-section.spacing-style.section.section--full-width.color-scheme-2.disable-section-top-offset, slideshow-component.slideshow--content-on-media, .slideshow-container {
    height: 100%; 

}

