
/* New Heading CSS */ 

h1, h2, h3, h4, h5, h6 {
    font-family: "erbaum", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}

/* new button CSS */ 
.button {
  font-family: erbaum, sans-serif;
  text-transform: var(--button-text-case-primary);
  border-radius: var(--style-border-radius-buttons-primary);
  font-weight: 500;
}

/* desktop button padding */ 
a#main-button {
padding-left: 60px !important; 
  padding-right: 60px !important; 
  
}





/* Hide Mobile Banner on Desktop */
 @media (min-width: 480px) {
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    display: none; 

}
 }
/* Mobile homepage height */
  @media (max-width: 480px) {

 /* Mobile Header Placement */ 

 a.size-style.spacing-style.header-logo {
grid-area: leftA;
 }
 .header__drawer
 {
    grid-area: rightA; 
 }

 .header__columns.header-actions {
    grid-area: right; 
 }

 div.header__columns.spacing-style {
    padding-left: 10px; 
 }


 /* mobile button padding */ 
a#main-button {
padding-left: 40px; 
  padding-right: 40px; 
  height: 44px; 
}


/* product page styles css */ 
div.mobile-breadcrumbs-title.hidden--desktop {
    padding-top: .5rem; 
    padding-bottom: .5rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
}

nav.breadcrumbs li#breadcrumb-text, nav.breadcrumbs a#breadcrumb-text {
    color: #656565 !important;
    font-size: 11px !important;
}

div.product-information__grid.product-information--media-left.product-information__grid--half {
h1 {
    font-size: 24px !important; 
}
product.price.text-block.text-left h5.spacing-style {
    width: fit-content; 
}

}

rte-formatter.spacing-style.text-block.text-block--AOElEaEJXMjFuMUdlM__text_cwd6rg.rte.text-block--align-center.text-block--background.rte  {
    p {
        font-size: 12px; 
    }
}







/* Hide Desktop Banner on mobile */ 
    div#shopify-section-template--20919893328118__slideshow_VMx8dk {
        display: none; 
    }
    
div#shopify-section-template--20919893328118__slideshow_qRMpCJ {
    height: 85svh !important; 
    


.slideshow-slides, div.slideshow-section.spacing-style.section.section--full-width.color-scheme-2.disable-section-top-offset, slideshow-component.slideshow--content-on-media, .slideshow-container {
    height: 85svh !important; 

}
slideshow-slides, slideshow-container {
    height: 85svh !important;
}
}

/* Collection Card Mobile Settings. */ 
div.collection-card__content.layout-panel-flex--column {
    p {
        font-family: erbaum, sans-serif ;
        font-size: 18px; 
    }
}


/* Mobile Homepage Settings Padding */ 
div.spacing-style.slide__content.color-scheme-2.background-transparent {

div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
     
      }

}





  }

div.collection-card__content.layout-panel-flex--column {
    p {
        color: white; 
        text-transform: uppercase; 
        font-family: erbaum, sans-serif ;
     
    }
}

div.spacing-style.slide__content.color-scheme-2.background-transparent {
    display: inline;

div.group-block-content.layout-panel-flex.layout-panel-flex--column.mobile-column {
      
      }

}

div.card-product-title {
    font-family: erbaum, sans-serif !important;
    p {
        font-family: erbaum, sans-serif !important;
        
    }
}

span#color-swatch-label{
    font-size: 12px; 
    padding-left: 2px;
}


    li.variant-option__swatch {
outline: 1px solid #999;
  outline-offset: 2px;  
    }

div.slide__image-container.slide__image-container--rounded {
    aspect-ratio: 16 / 9;
}

/* slideshow performance not needed 
  slideshow-component slideshow-slide:not([aria-hidden='false']) {
    content-visibility: hidden;
  }
  */

 div.email-signup__input-group.email-signup__input-group--arrow.color-scheme-2 {
    gap: 0px; 

 }

 input#EmailInput-ATzhSaEhoaWtiZDZwe__email_signup_RxMJTQ {
    font-family: Ibm Plex Mono;
 }

 summary.menu__heading.menu__heading--empty.h5 {
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
 }

 /* Star Fill Color */ 
 svg.stars.filled-star {
    fill: #C2A970 !important; 
 }
 p.rating-count.paragraph {
    font-family: Ibm Plex Mono;
 }

 .account-button__icon {
    width: 18px; 
 }



/* breadcrumbs styles css */
nav.breadcrumbs {
padding-top: 1%; 
margin: 0px; 
height: fit-content; 




.breadcrumbs__list {
  display: flex; 
  align-items: baseline; 
  margin: 0px; 
  gap: 3px; 
  padding-left: 0px; 

  li::marker {
    content: '';
    display: none !important ;
  }
}

 @media (max-width: 480px) {
.breadcrumbs__list {
padding-left: 10px !important ; 
padding-top: 3px; 
padding-bottom: 3px; 
padding-left: 0px !important; 
list-style: none !important; 

li::marker {
    content: '' !important ;
  }
}
}


li#breadcrumb-text, a#breadcrumb-text {
color: #2c2c2c; 
font-size: 14px !important ; 
}

li::marker {
  display: none !important ; 
}
}